In [19]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\tibame_t14\anaconda3\envs\ai python class\lib\site-packages (1.0.2)

In [20]:
import pymysql

connInfo = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'passwd': '5985593',
    'db': 'TESTDB',
    'charset': 'utf8mb4'
}

conn = pymysql.connect(**connInfo)

In [21]:
cursor = conn.cursor()

In [22]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [23]:
conn.commit()

In [24]:
sql = """
SELECT * FROM TESTDB.staff
"""

cursor.execute(sql)

1

In [25]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [26]:
cursor.execute("DELETE FROM TESTDB.staff")

1

In [27]:
conn.commit()

In [28]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [29]:
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Mike', '002', '45', 'M', '60000', '2022-01-09 15:51:12'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2022-01-09 15:51:12'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2022-01-09 15:51:12'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2022-01-09 15:51:12'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2022-01-09 15:51:12'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2022-01-09 15:51:12'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2022-01-09 15:51:12'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2022-01-09 15:51:12')]

In [30]:
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [33]:
cursor.executemany(sql_insert, values)

8

In [34]:
conn.commit()

In [35]:
cursor.execute("SELECT * FROM TESTDB.staff")

8

In [36]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('003',
  'Allen',
  '001',
  22,
  'M',
  50000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('004',
  'Tom',
  '002',
  47,
  'M',
  47000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('005',
  'Jack',
  '003',
  36,
  'M',
  52000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('006',
  'Abby',
  '002',
  24,
  'F',
  45000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('007',
  'Trump',
  '001',
  80,
  'M',
  80000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)),
 ('008',
  'Marry',
  '003',
  29,
  'F',
  87000,
  datetime.datetime(2022, 1, 9, 15, 51, 12)))